/* utils/_responsive.scss */
@mixin responsive($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 1200px) {
      @content;
    }
  }
}


@media (max-width: 768px) {
  .colab {
    height: fit-content;
  }

  .testimonials .people {
    margin-left: 0;
  }

  .swap .dots .dot.suc {
    margin-left: -1.3rem;
  }

  .lists {
    gap: 0.5rem;
  }

  .sign {
    margin-top: 1.5rem;
  }

  .swap {
    gap: 2rem;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .personal-opinion {
    width: 300px;
  }
}

@media (max-width: 500px) {
  header{
    padding: 1rem;
  }
  
  .colab {
    flex-wrap: wrap;
    .colab-img {
      width: 30%;
    }
  }

 
}
