
@mixin sectionFlex() {
  display: flex;
  //   flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin grid($gap: 1rem) {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: start;
  column-gap: $gap;
  align-content: center;
}


@mixin section(){
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
  align-items: center;
  margin: 0 auto;
}