@import "../responsive";
footer {
  position: relative;
  width: 100%;
  height: fit-content;
  align-content: flex-start;
  padding: 10rem 0;
  margin: -20rem auto 0;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ebebeb;
    width: 100vw;
    height: 100%;
    z-index: -1000;
  }
}

.footer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.lists {
  display: grid;
  grid-template-columns: 1.5fr repeat(2, 1fr);
  height: fit-content;
  gap: 2rem;
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

footer p {
  width: 340px;
  line-height: 1.5rem;
}

.social-icons {
  flex-direction: row;
  gap: 0;
}

footer .header {
  font-weight: var(--weight-500);
  font-size: 18px;
  color: var(--main);
}

footer li {
  font-weight: var(--weight-400);
  color: var(--paragraph);
}

footer .sign {
  width: 132px;
  color: var(--footer-sign);
  font-size: 1rem;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: var(--s-gap);
  margin-left: -1rem;
}

@include responsive(md) {
  .footer {
    flex-direction: column;
  }
}
