
:root {
  --red: #f53855;
  --orange: #f53838;
  --paragraph: #4f5665;
  --bg: #ffffff;
  --boarder-color: #dddddd;
  --dark-bg:  #F8F8F8 ;
  --footer-bg: #DDE0E4;
  --main: #0b132a;
  --footer-sign: #afb5c0;
  --dites-color: #dde0e4;
  --shadow: #0d1025;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;
  --radius: 10px;
  --gap:2rem;
  --s-gap:1.2rem;
}
